@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html, body, .App {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(79deg, #030637, #04364A 48%, #3C0753);
}

.custom-datepicker {
  width: 110px; /* Adjust the width as needed */
}

.App {
  text-align: center;
  color: white;
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

.login-register-heading{
  text-align: center;
  font-size: 1.5rem;

}

.data-input-form{
  background-color: #9AC5F4;
  padding: 1em;
  border: 1px solid #132043;
  border-radius: 15px;
  opacity: 0.7;

}

.patient-data-form{
  padding: 1em;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

.patient-identity label {
  font-size: 14px;
}

.patientName-input {
  font-size: 14px;
  color: #000; /* Typing color */
  padding: 4px 8px;
  border: none;
  border-radius: 5px;
}

.patientName-input:hover {
  border-color: #000;
}

::placeholder {
  color: #aaa;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
}

#letter-type-select {
  font-size: 14px;
  width: 85px;
  padding-top: 0;
  padding-bottom: 0;
}

.voice2text-controllers {
  top: -15px;
  left: 18px;
}

/* .output-controllers {
  top: -15px;
  right: 30px;
} */

.gen-letter {
  bottom: -15px;
  right: 18px;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}

.linkSubmit{
  width: 100%;
}

.text-danger{
  color: rgba(184, 10, 10, 0.944);
}