.search-results-list::-webkit-scrollbar {
    width: 10px;
  }
  .search-results-list::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.3);
    border-radius: 10px;
  }
  .search-results-list::-webkit-scrollbar-track {
    background-color: rgba(113, 113, 113, 0.1);
  }